@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: cursive;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* for Internet Explorer and Edge */
    scrollbar-width: none; /* for Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
